<div class="dashboard-container">


    <main class="main-content">
        <div class="stats-cards">
            <div class="card">
                <h3>Garage Value</h3>
                <p>{{ totalSpent | currency }}</p>
            </div>
            <div class="card">
                <h3>Total Cars Available</h3>
                <p>{{ totalCars }}</p>
            </div>
            <div class="card">
                <h3>Sales</h3>
                <p>924</p>
            </div>
            <div class="card">
                <h3>Performance</h3>
                <p>49.65%</p>
            </div>
        </div>
    </main>
</div>